<script setup lang="ts">
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
import { ref } from "vue";
const num1 = ref(0);
const num2 = ref(0);
const inc = () => {
  num1.value++;
  num2.value = 2 * num1.value;
};
const dec = () => {
  num1.value--;
  if (num1.value <= 0) {
    num1.value = 0;
  }
  num2.value = 2 * num1.value;
};
</script>
<template>
  <!-- <div>ใส่ FirstComponent และ SecondComponent</div> -->
  <v-container>
    <v-row>
      <v-col>
        <FirstComponent :num="num1" />
      </v-col>
      <v-col>
        <SecondComponent :num="num2" />
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-btn @click="inc">INCREMENT</v-btn>
      </v-col>
      <v-col>
        <v-btn @click="dec">DECREASE</v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
