<script lang="ts" setup>
import { ref } from "vue";
const num = ref("0");
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-text-field
          v-model="num"
          label="Please Input Number"
          hide-details="auto"
          :rules="[(v) => !!v || 'Number is not empty!!']"
          class="mb-6"
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row v-if="parseInt(num) > 0" style="height: 65vh; overflow: auto">
      <v-col v-for="n in parseInt(num)" :key="n" cols="1">
        {{ n }}
      </v-col>
    </v-row>
  </v-container>
</template>
