<script lang="ts" setup>
import { ref } from "vue";

const feeling = ref("Smile");
const imgFeel = ref("../../feeling_imgs/smile.png");
const change = (feel: string) => {
  feeling.value = feel;
  imgFeel.value = "../../feeling_imgs/" + feel.toLowerCase() + ".png";
};
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-img :src="imgFeel" height="50vh"></v-img>
      </v-col>
      <v-col cols="6">
        <v-container>
          <v-row>
            <div class="text-h2 mx-auto pa-5">{{ feeling }}</div>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-btn
                block
                value="Angry"
                @click="change('Angry')"
                :class="{ colorBtn: feeling == 'Angry' }"
                >ANGRY</v-btn
              ><br />
              <v-btn
                block
                @click="change('Cute')"
                :class="{ colorBtn: feeling == 'Cute' }"
                >CUTE</v-btn
              ><br />
              <v-btn
                block
                @click="change('Excited')"
                :class="{ colorBtn: feeling == 'Excited' }"
                >EXCITED</v-btn
              ><br />
              <v-btn
                block
                @click="change('Pain')"
                :class="{ colorBtn: feeling == 'Pain' }"
                >PAIN</v-btn
              ><br />
              <v-btn
                block
                @click="change('Shocked')"
                :class="{ colorBtn: feeling == 'Shocked' }"
                >SHOCKED</v-btn
              ><br />
              <v-btn
                block
                @click="change('Smile')"
                :class="{ colorBtn: feeling == 'Smile' }"
                >SMILE</v-btn
              ><br />
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.colorBtn {
  background-color: yellow;
}
</style>
