<script lang="ts" setup>
import { ref } from "vue";
import { useProductStore } from "@/stores/product";
import ProductCard from "@/components/ProductCard.vue";
import SelectedProdList from "@/components/SelectedProdList.vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
const useProduct = useProductStore();
</script>
<template>
  <!-- <div>
    {{ products }}
  </div> -->
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-container style="height: 85vh; overflow: auto">
          <v-row>
            <v-col cols="4" v-for="item of products" :key="item.id">
              <ProductCard :item="item" />
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="6">
        <v-container>
          <v-row style="height: 67vh; overflow: auto">
            <SelectedProdList />
          </v-row>
          <v-row>
            <div class="text-h3 pa-5">Sum : {{ useProduct.total }}</div>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
