<script setup lang="ts">
import type Product from "@/types/Product";
import { useProductStore } from "@/stores/product";
const useProduct = useProductStore();

defineProps<{
  item: Product;
}>();
</script>

<template>
  <!-- <v-container>
    <v-row>
      <v-col cols="12"> -->
  <v-card>
    <v-card-title class="text-center">
      {{ item.name }}
    </v-card-title>
    <v-card-text class="text-center">{{ item.price }}</v-card-text>
    <v-card-actions class="justify-center">
      <v-btn
        elevation="2"
        outlined
        shaped
        @click="useProduct.addItem(item.id, item.name, item.price)"
        >Add</v-btn
      >
    </v-card-actions>
  </v-card>
  <!-- </v-col>
    </v-row>
  </v-container> -->
</template>
