<script setup lang="ts">
import { useProductStore } from "@/stores/product";
const useProduct = useProductStore();
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-table>
          <thead>
            <tr>
              <th>id</th>
              <th>name</th>
              <th>price</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item of useProduct.selectedProducts" :key="item.id">
              <td>{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.price }}</td>
            </tr>
            <tr v-if="useProduct.selectedProducts.length == 0">
              <td colspan="3" class="text-center">NO Data</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
